<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <label for="search">Localidade</label>
            <div class="search field">
                <img src="/assets/map.svg" alt="">
                <input type="text" name ="search" placeholder="Digite a localidade">
                <button>
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>